<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="lib/animate.css"/>
    <link rel="stylesheet" href="css/slider.css"/>
</head>

<body>

<div id="fullContainer">
    
    {{{body}}}
    
</div>


<div id="menu">
    <ul style="position: absolute; right: 30px; display: inline; margin-bottom: 10px">
        <a href="/"><li class="link">خانه</li></a>
        <a href="/contact-us"><li class="link">درخواست همکاری</li></a>
        <a href="/about"><li class="link">درباره ما</li></a>
    </ul>
</div>
</body>
    <script src="script/slider.js"></script>
</html>